<!doctype html>
<html>
    {% include 'head.html' %}

    <body>
        {% include 'header.html' %}

        <form id="login" class="form">

                <p id="formstatus"></p>
                <input id="email" class="formtextinput" type="text" placeholder="email"></input>
                <input id="password" class="formtextinput" type="password" placeholder="password"></input>

                <div class="formbuttonfield">
                    <a href="/" class="button">Back home</a>
                    <a href="/register" class="button">Register</a>
                    <a onclick="login_submit();" class="button">Login</a>
                </div>
        </form>

    </body>

</html>
