<!doctype html>
<html>
{% include 'head.html' %}

<body>
{% include 'header.html' %}

<form id="login" class="form">

    <p id="formstatus"></p>
    <input id="email" class="formtextinput" type="text" placeholder="email"></input>
    <input id="username" class="formtextinput" type="text" placeholder="username"></input>
    <input id="password" class="formtextinput" type="password" placeholder="password"></input>
    <input id="password_again" class="formtextinput" type="password" placeholder="password"></input>

    <div class="formbuttonfield">
        <a onclick="register_submit();" class="button">Register</a>
        <a href="/" class="button">Back home</a>
    </div>
</form>

</body>

</html>
